@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 12px 24px;
}

#navbar .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 1240px;
}

.header-nav .links ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.header-nav .logo {
    color: #f9faf8;
}

.header-nav .links ul li a {
    color: #f9faf8;
    text-decoration: none;
    font-weight: 800;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 600px;
}

.banner-section .main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-content .content-left {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    justify-content: space-around;
}

.main-content .content-left h1 {
    font-size: 60px;
    margin-bottom: 16px;
}

.main-content .content-left p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .7px;
}

.main-content .content-left,
.main-content .content-right {
    flex: 0 1 600px;
}

.btn {
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 24px;
    border: none;
    border-radius: 4px;
    margin: 24px 0;
    background-color: #3882f6;
}

.information {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px;
}

.information h3 {
    padding: 10px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.information .info-grid {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 42px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 0 1 200px;
}

.card .img {
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 24px;
    overflow: hidden;
}

.card .text-section {
    color: #1f2937;
    padding: 12px;
}

.card .img img {
    width: 100%;
    height: 100%;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 52px 0;
    height: 450px;
}

.quote {
    width: 1000px;
    padding: 8px 0;
    flex-wrap: wrap;
}

.quote p {
    padding: 12px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

.quote-section .author {
    color: #1f2937;
    width: 100%;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.cta-section {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 24px;
    gap: 24px;
    width: 900px;
    border-radius: 10px;
}

.cta-content {
    gap: 12px;
    flex: 2;
}

.cta-content h4 {
    color: #e5e7eb;
    font-weight: 900;
}

.cta-content p {
    color: #e5e7eb;
    font-weight: 300;
}

.btn-section {
    display: flex;
    justify-content: center;
    flex: 1;
}

.secondary-btn {
    border: 1px solid #e5e7eb;
}

.footer {
    color: #e5e7eb;
    display: flex;
    background-color: #1f2937;
    padding: 36px;
    justify-content: center;
}